.button-wrapper {
  position: relative;
  width: 100%;
}
.button {
  height: 48px;
  width: 100%;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 41px;
  background-color: rgb(239, 106, 108);
  color: rgb(255, 255, 255);
  border: none;
  padding: 0px 16px;
}
